@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --input: 139, 137, 136;
  --bg: whitesmoke;
  --text: whitesmoke;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(var(--bg));
  color: white;
}

input {
  background: transparent;
  color: rgb(var(--input));
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 2s linear infinite;
}
