@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: 139, 137, 136;
  --bg: whitesmoke;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(var(--text));
  background: rgb(var(--bg));
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 2s linear infinite;
}
