@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: 139, 137, 136;
  --bg: whitesmoke;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(var(--text));
  background: rgb(var(--bg));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
